<div class="box">
  <h1><%= title %></h1>
  <div class="about">
    <%- about %>
  </div>

  <div class="contact">
    <h2>Get in touch</h2>
    <ul>
      <li><a href="mailto:hi@matias.io">hi@matias.io</a></li>
      <li><a href="http://github.com/matiasdoyle">github/matiasdoyle</a></li>
    </ul>
  </div>
</div>
