<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <script src="/js/analytics.js"></script>
</head>
<body>

<% include index %>

</body>
</html>
