
body {
  background: #edf2f2;
  font: 14px sans-serif;
  line-height: 19px;
  color: #333;
}

a { color: #688383; text-decoration: none; }

.box {
  background: #f9fcfc;
  border: 1px solid #e1e6e6;
  box-shadow: 0px 0px 2px #D9EFEF;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  width: 400px;
}

.box img {
  border: 1px solid #ddd;
  float: left;
  padding: 2px;
  margin-right: 10px; 
}

.about { margin-bottom: 60px; }

.contact { border-top: 1px dashed #ddd; margin-top: 50px; }
.contact ul { margin: 0; padding: 0; }
.contact li { list-style: none; }

h1 { padding: 0; margin: 0 0 20px 0; }
h2 { margin-bottom: 4px; font-size: 14px; }
